:root {
  --accent: rgb(180,190,254);
  --accent-alpha-70: rgba(180,190,254,.7);
  --accent-alpha-20: rgba(180,190,254,.2);

  --background: #1e1e2e;
  --color: #b4befe;
  --border-color: rgba(205, 214, 244, .1);
}
